{% extends 'base.html' %}




{% block content %}
 {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<br>
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <label for="common_name">Common Name</label>
                    <input name="common_name" id="common_name" value="{{ request.form['common_name'] }}" required>
                    <label for="date_planted">Date Planted</label>
                    <input name="date_planted" id="date_planted" value="{{ request.form['date_planted'] }}" required>
                    <label for="date_harvested">Date Harvested</label>
                    <input name="date_harvested" id="date_harvested" value="{{ request.form['date_harvested'] }}" required>
                    <label for="last_watering">Last Watering</label>
                    <input name="last_watering" id="last_watering" value="{{ request.form['last_watering'] }}" required>
                    <label for="health_status">Health Status</label>
                    <input name="health_status" id="health_status" value="{{ request.form['health_status'] }}" required>
                    <label for="height">Height</label>
                    <input name="height" id="height" value="{{ request.form['height'] }}" required>
                    <label for="soil_ph">Soil pH</label>
                    <input name="soil_ph" id="soil_ph" value="{{ request.form['soil_ph'] }}" required>
                    <label for="light">Light</label>
                    <input name="light" id="light" value="{{ request.form['light'] }}" required>
                    <label for="soil_moisture">Soil Moisture</label>
                    <input name="soil_moisture" id="soil_moisture" value="{{ request.form['soil_moisture'] }}" required>
                    <label for="amount_harvested">Amount Harvested</label>
                    <input name="amount_harvested" id="amount_harvested" value="{{ request.form['amount_harvested'] }}" required>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}