{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Plants{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="search">Search for Plants to Add</a>
  {% endif %}
{% endblock %}

{% block content %}
   {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<br>
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Common Name</th>
                            <th>Date Planted</th>
                            <th>Last Watering</th>
                            <th>Health Status</th>
                            <th>Height</th>
                            <th>Soil pH</th>
                            <th>Light</th>
                            <th>Soil Moisture</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for plant in garden%}
                        <tr>
                            <td class="col-md-2">
                                <img src={{plant['imageUrl']}} class="img-thumbnail" alt="Plant Image">
                            </td>
                            {% for column in columns %}
                            <td>{{ plant[column] }}</td>
                            {% endfor %}
                            <td>
                                <a class="action" href="{{plant['id']}}/update">Update</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}