{% extends 'base.html' %}
{% block content %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Garden Helper</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">My Plants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="search">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="auth/logout">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
  <h1>{% block title %}{{g.user['first_name']}}'s Garden{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="search">Search for Plants to Add</a>
  {% endif %}

   {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<br>
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Common Name</th>
                            <th>Date Planted</th>
                            <th>Last Watering</th>
                            <th>Health Status</th>
                            <th>Height</th>
                            <th>Soil pH</th>
                            <th>Light</th>
                            <th>Soil Moisture</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for plant in garden%}
                        <tr>
                            <td class="col-md-2">
                                <img src={{plant['imageUrl']}} class="img-thumbnail" alt="Plant Image">
                            </td>
                            {% for column in columns %}
                            <td>{{ plant[column] }}</td>
                            {% endfor %}
                            <td>
                                <a class="action" href="{{plant['id']}}/update">Update</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}