{% extends 'base.html' %}




{% block content %}
 {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Garden Helper</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">My Plants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="search">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="auth/logout">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<h1>{% block title %}Search Plants{% endblock %}</h1>
<br>
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <label for="common_name">Search For A Plant In Our Database</label><br>
                    <input name="common_name" id="common_name" value="{{ request.form['common_name'] }}" required>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}