{% extends 'base.html' %}




{% block content %}
 {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<br>
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <label for="common_name">Search For A Plant In Our Database</label>
                    <input name="common_name" id="common_name" value="{{ request.form['common_name'] }}" required>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}