{% extends 'base.html' %}




{% block content %}
 {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<br>
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div class="form-group row">
                        <label for="common_name"class="col-sm-2 col-form-label">Common Name</label>
                        <div class="col-sm-8">
                            <input name="common_name" id="common_name" value="{{ request.form['common_name'] }}"
                                   required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="date_planted" class="col-sm-2 col-form-label">Date Planted</label>
                        <div class="col-sm-8">
                            <input name="date_planted" id="date_planted" value="{{ request.form['date_planted'] }}"
                                   required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="date_harvested" class="col-sm-2 col-form-label">Date Harvested</label>
                        <div class="col-sm-8">
                            <input name="date_harvested" id="date_harvested" value="{{ request.form['date_harvested']}}"
                                   required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="last_watering" class="col-sm-2 col-form-label">Last Watering</label>
                        <div class="col-sm-8">
                            <input name="last_watering" id="last_watering" value="{{ request.form['last_watering'] }}"
                                   required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="health_status" class="col-sm-2 col-form-label">Health Status</label>
                        <div class="col-sm-8">
                            <input name="health_status" id="health_status" value="{{ request.form['health_status'] }}"
                                   required><br>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="height" class="col-sm-2 col-form-label">Height</label>
                        <div class="col-sm-8">
                            <input name="height" id="height" value="{{ request.form['height'] }}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="soil_ph" class="col-sm-2 col-form-label">Soil pH</label>
                        <div class="col-sm-8">
                            <input name="soil_ph" id="soil_ph" value="{{ request.form['soil_ph'] }}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="light" class="col-sm-2 col-form-label">Light</label>
                        <div class="col-sm-8">
                            <input name="light" id="light" value="{{ request.form['light'] }}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="soil_moisture" class="col-sm-2 col-form-label">Soil Moisture</label>
                        <div class="col-sm-8">
                            <input name="soil_moisture" id="soil_moisture" value="{{ request.form['soil_moisture'] }}"
                                   required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="amount_harvested" class="col-sm-2 col-form-label">Amount Harvested</label>
                        <div class="col-sm-8">
                            <input name="amount_harvested" id="amount_harvested"
                                   value="{{ request.form['amount_harvested']}}" required>
                        </div>
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}