{% extends 'base.html' %}




{% block content %}
 {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Garden Helper</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">My Plants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="search">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="auth/logout">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<h1>{% block title %}{{result['common_name']}}{% endblock %}</h1>
<br>
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div class="row">
                        <input name="species_id" id="species_id" type="hidden" value="{{ species_id}}">
                        <input name="common_name" id="common_name" type="hidden" value="{{ plant['commonName']}}">
                        <input name="image_url" id="image_url" type="hidden" value="{{ plant['imageUrl']}}">
                        <input name="gardener_id" id="gardener_id" type="hidden" value="{{ gardener_id}}">
                        <label for="date_planted" class="col-sm-2 col-form-label">Date Planted</label>
                        <div class="col-sm-8">
                            <input name="date_planted" type="datetime-local" id="date_planted"
                                   value="{{ request.form['datePlanted'] }}">
                        </div>
                    </div>
                    <div class="row">
                        <label for="date_harvested" class="col-sm-2 col-form-label">Date Harvested</label>
                        <div class="col-sm-8">
                            <input name="date_harvested" type="datetime-local" id="date_harvested"
                                   value="{{ request.form['date_harvested'] }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="True" id="watered_today" checked>
                            <label class="form-check-label" for="watered_today">
                            Did you water your plants today?
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="True"
                                   id="prediction_accurate" checked>
                            <label class="form-check-label" for="prediction_accurate">
                            Was your watering prediction accurate?
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <label for="health_status" class="col-sm-2 col-form-label">Health Status</label>
                        <div class="col-sm-8">
                            <input name="health_status" id="health_status" value="{{ request.form['healthStatus'] }}">
                        </div>
                    </div>
                    <div class="row">
                        <label for="height" class="col-sm-2 col-form-label">Height in inches</label>
                        <div class="col-sm-8">
                            <input name="height" id="height" value="{{ request.form['datePlanted'] }}">
                        </div>
                    </div>
                    <div class="row">
                        <label for="soil_ph" class="col-sm-2 col-form-label">Soil pH</label>
                        <div class="col-sm-8">
                            <input name="soil_ph" id="soil_ph" value="{{ request.form['soilPH'] }}">
                        </div>
                    </div>
                    <div class="row">
                        <label for="light" class="col-sm-2 col-form-label">Light(on scale from 0-10)</label>
                        <div class="col-sm-8">
                            <input name="light" id="light" value="{{ request.form['light'] }}">
                        </div>
                    </div>
                    <div class="row">
                        <label for="soil_moisture" class="col-sm-2 col-form-label">
                            Soil Moisture(on scale from 0-10)</label>
                        <div class="col-sm-8">
                            <input name="soil_moisture" id="soil_moisture" value="{{ request.form['soilMoisture'] }}">
                        </div>
                    </div>
                    <div class="row">
                        <label for="amount_harvested" class="col-sm-2 col-form-label">Amount Harvested (in lbs)</label>
                        <div class="col-sm-8">
                            <input name="amount_harvested" id="amount_harvested"
                                   value="{{ request.form['amountHarvested'] }}">
                        </div>
                    </div>
                    <input type="submit" value="Update">
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}