{% extends 'base.html' %}




{% block content %}
 {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<br>
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div class="row">
                        <input name="species_id" id="species_id" type="hidden" value="{{ species_id}}">
                        <input name="common_name" id="common_name" type="hidden" value="{{ plant['commonName']}}">
                        <input name="image_url" id="image_url" type="hidden" value="{{ plant['imageUrl']}}">
                        <input name="gardener_id" id="gardener_id" type="hidden" value="{{ gardener_id}}">
                        <label for="date_planted" class="col-sm-2 col-form-label">Date Planted</label>
                        <div class="col-sm-8">
                            <input name="date_planted" type="datetime-local" id="date_planted"
                                   value="{{ request.form['datePlanted'] }}">
                        </div>
                    </div>
                    <div class="row">
                        <label for="date_harvested" class="col-sm-2 col-form-label">Date Harvested</label>
                        <div class="col-sm-8">
                            <input name="date_harvested" type="datetime-local" id="date_harvested"
                                   value="{{ request.form['date_harvested'] }}">
                        </div>
                    </div>
                    <div class="row">
                        <label for="last_watering" class="col-sm-2 col-form-label">Last Watering</label>
                        <div class="col-sm-8">
                            <input name="last_watering" type="datetime-local" id="last_watering"
                                   value="{{ request.form['lastWatering'] }}">
                        </div>
                    </div>
                    <div class="row">
                        <label for="health_status" class="col-sm-2 col-form-label">Health Status</label>
                        <div class="col-sm-8">
                            <input name="health_status" id="health_status" value="{{ request.form['healthStatus'] }}">
                        </div>
                    </div>
                    <div class="row">
                        <label for="height" class="col-sm-2 col-form-label">Height</label>
                        <div class="col-sm-8">
                            <input name="height" id="height" value="{{ request.form['datePlanted'] }}">
                        </div>
                    </div>
                    <div class="row">
                        <label for="soil_ph" class="col-sm-2 col-form-label">Soil pH</label>
                        <div class="col-sm-8">
                            <input name="soil_ph" id="soil_ph" value="{{ request.form['soilPH'] }}">
                        </div>
                    </div>
                    <div class="row">
                        <label for="light" class="col-sm-2 col-form-label">Light</label>
                        <div class="col-sm-8">
                            <input name="light" id="light" value="{{ request.form['light'] }}">
                        </div>
                    </div>
                    <div class="row">
                        <label for="soil_moisture" class="col-sm-2 col-form-label">Soil Moisture</label>
                        <div class="col-sm-8">
                            <input name="soil_moisture" id="soil_moisture" value="{{ request.form['soilMoisture'] }}">
                        </div>
                    </div>
                    <div class="row">
                        <label for="amount_harvested" class="col-sm-2 col-form-label">Amount Harvested</label>
                        <div class="col-sm-8">
                            <input name="amount_harvested" id="amount_harvested"
                                   value="{{ request.form['amountHarvested'] }}">
                        </div>
                    </div>
                    <input type="submit" value="Register">
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}