{% extends 'base.html' %}
{% block content %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Garden Helper</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="register">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<br>
<br>
<div class="row">
    <div class="col-md-1"></div>
        <div class="col-md-3">
        <img class="img-fluid" src="/static/images/waterfall.jpg" alt="Waterfall">
    </div>
    <div class="col-md-4">
        <div class="card border-success mb-3">
            <div class="card-body">
              <h1>{% block title %}Garden Helper Registration{% endblock %}</h1>
              <form method="post">
                <div class="row">
                  <label for="username" class="col-sm-2 col-form-label">Username</label>
                  <div class="col-sm-8">
                    <input name="username" id="username" required>
                  </div>
                </div>
                <div class="row">
                  <label for="password" class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-8">
                    <input type="password" name="password" id="password" required>
                  </div>
                </div>
                <div class="row">
                  <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
                  <div class="col-sm-8">
                    <input name="first_name" id="first_name" required>
                  </div>
                </div>
                <div class="row">
                  <label for="middle_initial" class="col-sm-2 col-form-label">Middle Initial</label>
                  <div class="col-sm-8">
                    <input name="middle_initial" id="middle_initial">
                  </div>
                </div>
                <div class="row">
                  <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
                  <div class="col-sm-8">
                    <input name="last_name" id="last_name" required>
                  </div>
                </div>
                <div class="row">
                  <label for="email" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-8">
                    <input name="email" id="email" required>
                  </div>
                </div>
                <div class="row">
                  <label for="address_line1" class="col-sm-2 col-form-label">Address Line 1</label>
                  <div class="col-sm-8">
                    <input name="address_line1" id="address_line1" required>
                  </div>
                </div>
                <div class="row">
                  <label for="address_line2" class="col-sm-2 col-form-label">Address Line 2 (optional)</label>
                  <div class="col-sm-8">
                    <input name="address_line2" id="address_line2">
                  </div>
                </div>
                <div class="row">
                  <label for="city" class="col-sm-2 col-form-label">City</label>
                  <div class="col-sm-8">
                    <input name="city" id="city" required>
                  </div>
                </div>
                <div class="row">
                  <label for="state" class="col-sm-2 col-form-label">State</label>
                  <div class="col-sm-8">
                    <input name="state" id="state" required>
                  </div>
                </div>
                <div class="row">
                  <label for="zip_code" class="col-sm-2 col-form-label">Zip Code</label>
                  <div class="col-sm-8">
                    <input name="zip_code" id="zip_code" required>
                  </div>
                </div>
                <div class="row">
                  <label for="phone" class="col-sm-2 col-form-label">Phone</label>
                  <div class="col-sm-8">
                    <input name="phone" id="phone" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8">
                    <input type="submit" value="Register">
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}